In [1]:
#District Summary
 #Calculate the total number of schools
 #Calculate the total number of students
 #Calculate the total budget
 #Calculate the average math score 
 #Calculate the average reading score
 #Calculate the percentage of students with a passing math score (70 or greater)
 #Calculate the percentage of students with a passing reading score (70 or greater)
 #Calculate the percentage of students who passed math and reading (% Overall Passing)
 #Create a dataframe to hold the above results
   #Optional: give the displayed data cleaner formatting

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# Read Student Data File and store into Pandas DataFrames
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
#total number of schools
school_count = len(school_data_df["school_name"].unique())
print(school_count)

15

In [5]:
#total number of students
student_count = student_data_df["Student ID"].count()
student_count

39170

In [6]:
#total budget
total_budget = school_data_df["budget"].sum()
print (total_budget)

24649428

In [7]:
# average of the reading column
reading_score_mean = round((student_data_df.loc[:,"reading_score"].mean()),1)
print(reading_score_mean)

81.9

In [8]:
# average of the math column
math_score_mean = round((student_data_df.loc[:,"math_score"].mean()),1)
print(math_score_mean)

79.0

In [9]:
#Calculate the percentage of students with a passing math score (70 or greadatter)
math_pass_count = student_data_df.loc[student_data_df['math_score'] >= 70].count()["Student ID"]
print(math_pass_count)
math_pass_percentage = round((math_pass_count / float(student_count) * 100),1)
print(math_pass_percentage)

29370
75.0

In [10]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass_count = student_data_df.loc[student_data_df['reading_score'] >= 70].count()["Student ID"]
print(reading_pass_count)
reading_pass_percentage = round((reading_pass_count / float(student_count)* 100),1)
print(reading_pass_percentage)

33610
85.8

In [11]:
#pass both reading and math
math_reading_combo_count = student_data_df.loc[(student_data_df['math_score'] >= 70) & (student_data_df['reading_score'] >= 70)].count()["Student ID"]
math_reading_pass_percentage = round((math_reading_combo_count / float(student_count)* 100),1)
print(math_reading_combo_count)
print(math_reading_pass_percentage)

25528
65.2

In [12]:
#district summary
district_summary = pd.DataFrame({"Total Number of Schools":[school_count],
                                "Total Number of Students":[student_count],
                                 "Total Budget":[total_budget],
                                "Math Pass Percent":[math_pass_percentage],
                                "Read Pass Percent":[reading_pass_percentage],
                                "Students that passed Math and Reading": [math_reading_pass_percentage]})
district_summary["Total Number of Students"]=district_summary["Total Number of Students"].map("{:,}".format)
district_summary

,Total Number of Schools,Total Number of Students,Total Budget,Math Pass Percent,Read Pass Percent,Students that passed Math and Reading
0,15,"39,170",24649428,75.0,85.8,65.2

In [13]:
#School Summary

    #Create an overview table that summarizes key metrics about each school, including:
    #School Name
    #School Type
    #Total Students
    #Total School Budget
    #Per Student Budget
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #% Overall Passing (The percentage of students that passed math and reading.)
        #Create a dataframe to hold the above results

In [14]:
#merge csv files into one csv file
school_data_combo_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_combo_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
#Group by school name and type - district vs charter
school_type = school_data_df.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
#total number of students at each school
per_school_data_count = school_data_combo_df.groupby(['school_name']).count()["Student ID"]
print(per_school_data_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [17]:
#check to make sure the data is correct
school_data_combo_df[school_data_combo_df["school_name"]=="Bailey High School"].head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
17871,17871,Blake Martin,M,9th,Bailey High School,75,59,7,District,4976,3124928
17872,17872,Kathryn Kane,F,12th,Bailey High School,84,58,7,District,4976,3124928
17873,17873,Richard Haas,M,11th,Bailey High School,79,86,7,District,4976,3124928
17874,17874,Frank Marsh,M,9th,Bailey High School,71,89,7,District,4976,3124928
17875,17875,Charles Goodman Jr.,M,9th,Bailey High School,90,61,7,District,4976,3124928

In [18]:
#budget per school
per_school_budget_data = school_data_combo_df.groupby(["school_name"]).mean()["budget"]
print(per_school_budget_data)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [19]:
#budget per student at each school
per_student_budget = per_school_budget_data/per_school_data_count
print(per_student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [20]:
#math score school average
math_score_average = round((school_data_combo_df.groupby(["school_name"]).mean()["math_score"]),1)
print(math_score_average)

school_name
Bailey High School       77.0
Cabrera High School      83.1
Figueroa High School     76.7
Ford High School         77.1
Griffin High School      83.4
Hernandez High School    77.3
Holden High School       83.8
Huang High School        76.6
Johnson High School      77.1
Pena High School         83.8
Rodriguez High School    76.8
Shelton High School      83.4
Thomas High School       83.4
Wilson High School       83.3
Wright High School       83.7
Name: math_score, dtype: float64

In [21]:
#passing math by schools
passing_math = school_data_combo_df[(school_data_combo_df["math_score"]>= 70)]
#print(passing_math)
passing_math_per_school = passing_math.groupby(["school_name"]).count()["student_name"]
#print(passing_math_per_school)
passing_math_per_school_percent = round((passing_math_per_school / per_school_data_count) *100,2)
passing_math_per_school_percent

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
dtype: float64

In [22]:
#reading score school average
reading_score_average = round((school_data_combo_df.groupby(["school_name"]).mean()["reading_score"]),1)
print(reading_score_average)

school_name
Bailey High School       81.0
Cabrera High School      84.0
Figueroa High School     81.2
Ford High School         80.7
Griffin High School      83.8
Hernandez High School    80.9
Holden High School       83.8
Huang High School        81.2
Johnson High School      81.0
Pena High School         84.0
Rodriguez High School    80.7
Shelton High School      83.7
Thomas High School       83.8
Wilson High School       84.0
Wright High School       84.0
Name: reading_score, dtype: float64

In [23]:
#passing reading by school
passing_reading = school_data_combo_df[(school_data_combo_df["reading_score"]>= 70)]
#print(passing_reading)
passing_reading_per_school = passing_reading.groupby(["school_name"]).count()["student_name"]
print(passing_reading_per_school)
passing_reading_per_school_percent = round((passing_reading_per_school / per_school_data_count) *100,2)
passing_reading_per_school_percent

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
dtype: float64

In [24]:
#percent of students that are passsing math and reading - overall passing
#math_reading_combo_count_per_school = student_data_combo_df.loc[(student_data_combo_df['math_score'] >= 70) & (student_data_combo_df['reading_score'] >= 70)].count()["Student ID"]
#math_reading_pass_percentage_per_school = round((math_reading_combo_count_per_school / float(student_count)* 100),1)
#print(math_reading_combo_count_per_school)
#print(math_reading_pass_percentage_per_school)

#print(passing_math)
#print(passing_reading)
#math_reading_pass_count_per_school = student_data_combo_df.groupby(student_data_combo_df[(passing_math) & (passing_reading)].count()['student_name']
math_read_school = (passing_reading.groupby(["school_name"]).count()["student_name"]) & (passing_math.groupby(["school_name"]).count()["student_name"])
#math_read_school = ((reading_score_average) + (math_score_average))
#print(math_read_school)
math_read_school_percent = (math_read_school / per_school_data_count) *100
print(math_read_school_percent)

school_name
Bailey High School       66.318328
Cabrera High School      82.723358
Figueroa High School      8.952187
Ford High School          2.774735
Griffin High School      88.419619
Hernandez High School    66.364617
Holden High School       92.505855
Huang High School        11.107302
Johnson High School      64.713296
Pena High School         94.178794
Rodriguez High School    51.412853
Shelton High School      88.131743
Thomas High School       65.871560
Wilson High School       90.932983
Wright High School       92.444444
dtype: float64

In [33]:
#school summary
school_summary = pd.DataFrame({"School Type": school_type,
                                "Total Students":per_school_data_count,
                                 "Total School Budget":per_school_budget_data,
                               "Budget per Student": per_student_budget,
                               "Average Math Score" : math_score_average,
                               "Average Reading Score": reading_score_average,
                                "Math Pass Percent" : passing_math_per_school_percent,
                                "Read Pass Percent" : passing_reading_per_school_percent,
                                "Overall Passing Percent" : math_read_school_percent})
#district_summary["Total Number of Students"]=district_summary["Total Number of Students"].map("{:,}".format)
school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,66.68,81.93,66.318328
Cabrera High School,Charter,1858,1081356.0,582.0,83.1,84.0,94.13,97.04,82.723358
Figueroa High School,District,2949,1884411.0,639.0,76.7,81.2,65.99,80.74,8.952187
Ford High School,District,2739,1763916.0,644.0,77.1,80.7,68.31,79.30,2.774735
Griffin High School,Charter,1468,917500.0,625.0,83.4,83.8,93.39,97.14,88.419619
Hernandez High School,District,4635,3022020.0,652.0,77.3,80.9,66.75,80.86,66.364617
Holden High School,Charter,427,248087.0,581.0,83.8,83.8,92.51,96.25,92.505855
Huang High School,District,2917,1910635.0,655.0,76.6,81.2,65.68,81.32,11.107302
Johnson High School,District,4761,3094650.0,650.0,77.1,81.0,66.06,81.22,64.713296
Pena High School,Charter,962,585858.0,609.0,83.8,84.0,94.59,95.95,94.178794
Rodriguez High School,District,3999,2547363.0,637.0,76.8,80.7,66.37,80.22,51.412853
Shelton High School,Charter,1761,1056600.0,600.0,83.4,83.7,93.87,95.85,88.131743
Thomas High School,Charter,1635,1043130.0,638.0,83.4,83.8,93.27,97.31,65.871560
Wilson High School,Charter,2283,1319574.0,578.0,83.3,84.0,93.87,96.54,90.932983
Wright High School,Charter,1800,1049400.0,583.0,83.7,84.0,93.33,96.61,92.444444

In [34]:
#Top performing schools (by % overall passing)
    #sort and display the top 5 performing schools by orverall %
top_performming = school_summary.loc[school_summary['Overall Passing Percent'] > 90]
top_performming.sort_values(['Overall Passing Percent'], ascending=False).head()

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent
Pena High School,Charter,962,585858.0,609.0,83.8,84.0,94.59,95.95,94.178794
Holden High School,Charter,427,248087.0,581.0,83.8,83.8,92.51,96.25,92.505855
Wright High School,Charter,1800,1049400.0,583.0,83.7,84.0,93.33,96.61,92.444444
Wilson High School,Charter,2283,1319574.0,578.0,83.3,84.0,93.87,96.54,90.932983

In [35]:
#Bottom performing schools (by % overall passing)
    #sort and display the five worst performing schools by % overall passing
bottom_performming = school_summary.loc[school_summary['Overall Passing Percent'] < 65]
bottom_performming.sort_values(['Overall Passing Percent'], ascending=True)

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent
Ford High School,District,2739,1763916.0,644.0,77.1,80.7,68.31,79.30,2.774735
Figueroa High School,District,2949,1884411.0,639.0,76.7,81.2,65.99,80.74,8.952187
Huang High School,District,2917,1910635.0,655.0,76.6,81.2,65.68,81.32,11.107302
Rodriguez High School,District,3999,2547363.0,637.0,76.8,80.7,66.37,80.22,51.412853
Johnson High School,District,4761,3094650.0,650.0,77.1,81.0,66.06,81.22,64.713296

In [36]:
#Math Scores by Grade

    #Create a table that lists the average math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting
    
math_score_average_grade = round((school_data_combo_df.groupby(["grade"]).mean()["math_score"]),2)
print(math_score_average_grade)

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

In [37]:
#Reading Scores by Grade

    #Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
    #Create a pandas series for each grade. Hint: use a conditional statement.
    #Group each series by school
    #Combine the series into a dataframe
    #Optional: give the displayed data cleaner formatting
reading_score_average_grade = round((school_data_combo_df.groupby(["grade"]).mean()["reading_score"]),2)
print(reading_score_average_grade)

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

In [38]:
#Scores by School Spending
    #Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)
#create bins in which data will be held
bins = [0, 585, 615, 645, 675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]
#categorize the spendings 
school_summary["Per Student Spend)"] = pd.cut(per_student_budget,bins,labels = names)
school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent,Per Student Spend)
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,66.68,81.93,66.318328,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.1,84.0,94.13,97.04,82.723358,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.7,81.2,65.99,80.74,8.952187,$615-645
Ford High School,District,2739,1763916.0,644.0,77.1,80.7,68.31,79.30,2.774735,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.4,83.8,93.39,97.14,88.419619,$615-645
Hernandez High School,District,4635,3022020.0,652.0,77.3,80.9,66.75,80.86,66.364617,$645-675
Holden High School,Charter,427,248087.0,581.0,83.8,83.8,92.51,96.25,92.505855,<$585
Huang High School,District,2917,1910635.0,655.0,76.6,81.2,65.68,81.32,11.107302,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.1,81.0,66.06,81.22,64.713296,$645-675
Pena High School,Charter,962,585858.0,609.0,83.8,84.0,94.59,95.95,94.178794,$585-615
Rodriguez High School,District,3999,2547363.0,637.0,76.8,80.7,66.37,80.22,51.412853,$615-645
Shelton High School,Charter,1761,1056600.0,600.0,83.4,83.7,93.87,95.85,88.131743,$585-615
Thomas High School,Charter,1635,1043130.0,638.0,83.4,83.8,93.27,97.31,65.871560,$615-645
Wilson High School,Charter,2283,1319574.0,578.0,83.3,84.0,93.87,96.54,90.932983,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.7,84.0,93.33,96.61,92.444444,<$585

In [39]:
#Scores by School Size
    #Create a table that breaks down school performances based on average score Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)
#create bins in which data will be held
size_bins = [0, 1000, 2000, 5000]
size_range = ['Small', 'Medium', 'Large']

school_summary["School Size"] = pd.cut(school_summary["Total Students"],size_bins, labels = size_range)
school_summary

,School Type,Total Students,Total School Budget,Budget per Student,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent,Per Student Spend),School Size
Bailey High School,District,4976,3124928.0,628.0,77.0,81.0,66.68,81.93,66.318328,$615-645,Large
Cabrera High School,Charter,1858,1081356.0,582.0,83.1,84.0,94.13,97.04,82.723358,<$585,Medium
Figueroa High School,District,2949,1884411.0,639.0,76.7,81.2,65.99,80.74,8.952187,$615-645,Large
Ford High School,District,2739,1763916.0,644.0,77.1,80.7,68.31,79.30,2.774735,$615-645,Large
Griffin High School,Charter,1468,917500.0,625.0,83.4,83.8,93.39,97.14,88.419619,$615-645,Medium
Hernandez High School,District,4635,3022020.0,652.0,77.3,80.9,66.75,80.86,66.364617,$645-675,Large
Holden High School,Charter,427,248087.0,581.0,83.8,83.8,92.51,96.25,92.505855,<$585,Small
Huang High School,District,2917,1910635.0,655.0,76.6,81.2,65.68,81.32,11.107302,$645-675,Large
Johnson High School,District,4761,3094650.0,650.0,77.1,81.0,66.06,81.22,64.713296,$645-675,Large
Pena High School,Charter,962,585858.0,609.0,83.8,84.0,94.59,95.95,94.178794,$585-615,Small
Rodriguez High School,District,3999,2547363.0,637.0,76.8,80.7,66.37,80.22,51.412853,$615-645,Large
Shelton High School,Charter,1761,1056600.0,600.0,83.4,83.7,93.87,95.85,88.131743,$585-615,Medium
Thomas High School,Charter,1635,1043130.0,638.0,83.4,83.8,93.27,97.31,65.871560,$615-645,Medium
Wilson High School,Charter,2283,1319574.0,578.0,83.3,84.0,93.87,96.54,90.932983,<$585,Large
Wright High School,Charter,1800,1049400.0,583.0,83.7,84.0,93.33,96.61,92.444444,<$585,Medium

In [40]:
#Scores by School Type
    #Create a table that breaks down school performances based on average score Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)
school_type_summary = school_summary.groupby("School Type")
school_type_summary = school_type_summary[["Average Math Score", "Average Reading Score", "Math Pass Percent", "Read Pass Percent", "Overall Passing Percent"]]
school_type_summary.mean()

,Average Math Score,Average Reading Score,Math Pass Percent,Read Pass Percent,Overall Passing Percent
School Type,,,,,
Charter,83.487500,83.887500,93.620000,96.586250,86.901045
District,76.942857,80.957143,66.548571,80.798571,38.806188